package="{{PACKAGE_ID}}"
version="{{VERSION}}"
description="{{DESCRIPTION}}"
arch="{{ARCH}}"
maintainer="{{MAINTAINER}}"
maintainer_url="https://kryton.app"
distributor="{{MAINTAINER}}"
distributor_url="https://kryton.app"
displayname="{{DISPLAY_NAME}}"
os_min_ver="{{FIRMWARE}}"
startable="yes"
support_conf_folder="yes"
support_url="https://kryton.ai/docs/install/synology"
silent_install="no"
silent_uninstall="no"
silent_upgrade="no"
thirdparty="yes"
dsmuidir="ui"
dsmappname="SYNO.SDS.Kryton"
