QPKG_NAME="kryton"
QPKG_DISPLAY_NAME="Kryton"
QPKG_VER="{{VERSION}}"
QPKG_AUTHOR="{{AUTHOR}}"
QPKG_LICENSE="Apache-2.0"
QPKG_SUMMARY="{{DESCRIPTION}}"
QPKG_RC_NUM="99"
QPKG_SERVICE_PROGRAM="kryton.sh"
QPKG_REQUIRE="ContainerStation >= {{REQUIRE_VERSION}}"
QPKG_WEB="1"
QPKG_WEBUI="/"
QPKG_WEB_PORT="3000"
QPKG_DISABLE_APPCENTER_UI_SERVICE="1"
QPKG_VOLUME_REQUIRED="1"
